In [1]:
import dask.dataframe as dd
import dask.bag as db
import os

In [2]:
df=dd.read_csv(os.path.join('air_traffic_data.csv')).compute()
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  object
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  object
 9   Terminal                     15007 non-null  object
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  object
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.8+ MB

In [4]:
a=df.groupby('Operating Airline IATA Code').count()
company=list(a.index)
print("hay", len(company), "compañias aereas")

hay 73 compañias aereas

In [7]:
b=df.groupby('Operating Airline IATA Code')['Passenger Count'].mean()
print(b)

Operating Airline IATA Code
4T       312.625000
5Y        34.000000
9W      4280.312500
A8         5.000000
AA    127164.389706
          ...
XE      5631.843750
XJ      2864.727273
XP        73.000000
YV      3710.581197
YX      3883.000000
Name: Passenger Count, Length: 73, dtype: float64

In [8]:
df1=df.copy()
c= df.groupby('GEO Region')['Passenger Count'].max()
l=list(c)
l1=list(c.index)

borrar=[]

for i in range(len(df['Passenger Count'])):
    g=l1.index(df['GEO Region'][i])
    if df['Passenger Count'][i] != l[g]:
        borrar.append(i)

df=df.drop(borrar)

In [9]:
df.reset_index(inplace=True, drop=True)
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200708,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 3,E,39798,Deplaned,39798,2007,August
1,200708,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Asia,Deplaned,Other,International,G,86398,Deplaned,86398,2007,August
2,201101,LAN Peru,LP,LAN Peru,LP,International,South America,Deplaned,Other,International,A,3685,Deplaned,3685,2011,January
3,201308,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,659837,Deplaned,659837,2013,August
4,201407,United Airlines,UA,United Airlines,UA,International,Mexico,Deplaned,Other,International,G,29206,Deplaned,29206,2014,July

In [ ]:
df.to_csv('Maximodepasajeros.csv')
b.to_csv('Mediadepasajeros.csv')